// LIKE BUTTON
.items-list__item__image {
  position: relative;
  .like-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:active {
      background-color: red;
      background: url("../assets/img/full-heart-img.svg") no-repeat;
    }
  }

  input[type="checkbox"] {
    appearance: none;
    width: 2.5rem;
    height: 2.5rem;

    &:checked {
      background: url("../assets/img/full-heart-img.svg") no-repeat;
    }
  }

  & label {
    z-index: 3;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url("../assets/img/heart-img.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

// LIKE BUTTON ON PROMOTION SECTION
.promotion__products__item__image {
  position: relative;
  .like-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:active {
      background-color: red;
      background: url("../assets/img/full-heart-img.svg") no-repeat;
    }
  }

  input[type="checkbox"] {
    appearance: none;
    width: 2.5rem;
    height: 2.5rem;

    &:checked {
      background: url("../assets/img/full-heart-img.svg") no-repeat;
    }
  }

  & label {
    z-index: 3;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url("../assets/img/heart-img.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

// BTN PRIMARY
.btn {
  padding: 1.7rem 4rem;
  background-color: $brand-green;
  border-radius: 5px;
  color: $brand-white;
  font-family: "Inter";
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.4rem;
  transition: all 0.2s ease-in;
  text-transform: uppercase;

  &:hover {
    background-color: #498d00;
  }
}

.btn-primary {
  position: absolute;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
}

// BTN PRODUCTS
.btn-product {
  width: 100%;
  text-align: center;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
