header {
  padding: 3.5rem 0;
  background-color: #d9d9d9;
  .container {
    @include flex(row, space-between, center);
    .logo-store {
      h1 {
        font-size: 3.6rem;
        font-weight: 400;
        span {
          font-size: 3.6rem;
          font-weight: bold;
        }
      }
    }

    .category-devices {
      width: 343px;
      .list-category {
        @include flex(row, space-between, center);
        font-size: 2rem;
        font-weight: 500;
      }
    }
    input[type="search"] {
      background-color: #c4c2dc;
      padding: 2rem;
      width: 100%;
      max-width: 36.6rem;
      height: 4.6rem;
      background-image: url("../assets/img/header/lupaInput.svg");
      background-position: 1rem 1rem;
      background-repeat: no-repeat;
      background-position: center right 2rem;
      padding-right: 30px;
      border-radius: 1rem;
    }

    .menu-user {
      @include flex(row, space-between, center);
      gap: 2rem;
    }
  }
}
