header {
  background-color: $brand-white;
  z-index: 9999;
  position: absolute;
  width: 100%;
  padding: 3rem 0;
  
  .container {
    @include flex(row, space-between, center);
  }

  .logo-store {
    h1 {
      font-size: 3.6rem;
      font-weight: 400;

      a {
        span {
          font-size: 3.6rem;
          font-weight: bold;
          text-decoration: none;
          color: black;
        }
      }
    }
  }

  .category-devices {
    ul {
      @include flex(row, start, center);

      font-size: 2rem;
      font-weight: 500;
      li {
        a {
          text-decoration: none;
          outline: none;
          cursor: pointer;
          color: black;
          padding: 2rem 3rem;
          transition: all 0.2s ease-in;
          border-radius: 0.5rem;

          &:hover {
            color: $brand-blue;
            border: 0 0 0.5px 0.5px solid rgb(56, 53, 53);
            background-color: $gray-100;
          }
        }
      }
    }
  }

  .search-container {
    width: 100%;
    max-width: 56.6rem;
    input[type="search"] {
      background-color: $gray-100;
      padding: 2rem;

      width: 100%;
      max-width: 36.6rem;
      height: 4.6rem;
      background-image: url("../assets/img/header/search-i.svg");
      background-position: 1rem 1rem;
      background-repeat: no-repeat;
      background-position: center right 2rem;
      padding-right: 30px;
      border-radius: 1rem;
      &::placeholder {
        color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  .menu-user {
    @include flex(row, space-between, center);
    gap: 2rem;
  }

  // SUBMENU NAVBAR
  // .header-down {
  //   background-color: #d9d9d9;

  //   nav {
  //     ul {
  //       @include flex(row, start, center);
  //       padding: 2rem 0;

  //       li {
  //         a {
  //           font-weight: 400;
  //           font-size: 1.7rem;
  //           line-height: 2.4rem;
  //           color: black;
  //           padding: 2rem 4rem;
  //           transition: all 0.2s ease-in;

  //           &:hover {
  //             background-color: #c4c4c4;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}

// SUBMENU
.submenu {
  display: none; //ALTERAR DISPLAy
  width: 100%;
  z-index: 3;
  background-color: $brand-very-dark-blue;
  padding: 3rem 0;
  position: absolute;
  top: 11rem;
  .playstation-menu {
    width: 100%;
    ul {
    @include flex(row, center, center);
    gap: 7rem;
    }
    img {
      padding: 2rem;
      transition: all .1s ease-in;
      &:hover {
        transform: scale(1.07);
        opacity: 0.6;
      }
    }
  }
}
