.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(#0000, 0.7);
  z-index: 99999;
  position: fixed;
  top: 0;
  display: none;

  .info-game {
    width: 100%;
    max-width: 70%;
    height: 70rem;
    background-color: #263241;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include flex(column, space-between, start);
    border-radius: 10px;

    .close {
      font-size: 4rem;
      cursor: pointer;
      margin-top: -1.3rem;
      background-color: #fff;
      padding: 0 1.5rem;
      position: absolute;
      right: -2rem;
      border-radius: 0.4rem;
    }

    .product-title {
      justify-content: space-between;
      align-items: flex-start;
      color: #fff;
      width: 100%;
      padding: 2rem;
      h2 {
        font-size: 4rem;
        float: left;
        padding-right: 15rem;
      }

      span {
        display: flex;
        gap: 1rem;
        float: right;
        margin-top: 2rem;
        margin-left: 10rem;
      }
    }

    .product-images {
      @include flex(row, space-between, start);
      padding: 2rem;
      width: 100%;
      .main-image {
        @include flex(row, space-between, center);
        width: 100%;
        height: 35rem;
        max-width: 78%;
        padding-right: 2rem;
        object-fit: cover;
        overflow: hidden;
        border-radius: 1rem;

        img {
          width: 100%;
          border-radius: 1rem;
        }
      }

      .image-list {
        width: 100%;
        max-width: 20rem;
        @include flex(column, space-between, center);
        height: 100%;

        img {
          width: 100%;
          border-radius: 0.5rem;
        }
      }
    }

    .indicacao-price-info {
      @include flex(row, space-between, center);
      width: 100%;
      padding: 2rem;
      .modal-info {
        width: 50%;

        h4,
        a {
          font-size: 2rem;
        }

        .platforms {
          img {
            margin-left: -10rem;
            width: 3rem;
            position: absolute;
            margin-bottom: 2rem;
          }
        }
        .discount-price {
          width: 100%;

          display: flex;
          gap: 2rem;

          .price {
            width: 100%;
            display: inline-block;
            text-align: center;
          }
        }

        .btn-product {
          border-radius: 4px;
          justify-content: center;
          display: inline-block;
        }

        a {
          font-size: 20px;
        }
      }
      .analise {
        color: white;
        @include flex(row, space-between, center);
        gap: 2rem;
        .idade {
          background-color: #0095da;
          border-radius: 0.6rem;
          padding: 1rem;
          color: #ffffff;
          font-weight: bolder;
          margin-left: 0.5rem;
          font-size: 3rem;
        }

        .classificativos {
          font-weight: lighter;
          font-size: small;
          color: #c6d4df;
        }
      }
    }
  }
}

.modalPerfil {
  width: 350px;
  height: 350px;
  background-color: #263241;
  margin: 0 auto;
  margin-top: 15%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  z-index: 999;

  .closeSac {
    font-size: 28px;
    float: right;
    margin-top: -20rem;
    position: absolute;
    cursor: pointer;
    margin-left: 30rem;
    text-decoration: none;
    color: white;
  }

  form {
    float: left;
    width: 350px;
    margin-top: 8rem;
    justify-items: center;

    label {
      color: white;
      font-size: 20px;
      margin-left: 2rem;
      margin-bottom: 2rem;
    }

    input[type="email"],
    input[type="password"] {
      justify-items: center;
      border-radius: 8px;
      width: 280px;
      height: 3rem;
      padding-left: 1rem;
      margin-left: 2rem;
    }

    .btn {
      max-width: 30%;
      padding: 1rem;
      margin-top: 2rem;
      margin-left: 35%;
    }
  }
}

.modalSacola {
  width: 450px;
  height: 450px;
  background-color: #263241;
  margin: 0 auto;
  top: 13%;
  left: 60%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  z-index: 999;

  .closeSac {
    font-size: 28px;
    float: right;
    position: absolute;
    cursor: pointer;
    top: 4px;
    left: 41rem;
    text-decoration: none;
    color: white;
  }

  .header-title {
    float: left;
    width: 100%;
    margin-top: 4rem;
    justify-items: center;

    h1 {
      color: white;
      font-size: 4rem;
      text-align: center;
      border-bottom: 1px solid white;
    }
  }

  .lista-game {
    width: 30rem;
    max-width: 100%;
    top: 13rem;
    position: absolute;

    .lista-game-sacola {
      justify-items: flex-start;
      padding: 0 5%;

      .img-list-sacola img {
        width: 6rem;
        max-width: 50%;
        border-radius: 2rem;
        display: inline-block;
        position: absolute;
      }

      li h4 {
        color: white;
        font-size: 1.7rem;
        text-align: center;
        padding-left: 8.5rem;
        padding-top: 2rem;
        float: left;
      }

      li span {
        color: white;
        font-size: 2rem;
        text-align: center;
        float: right;
        position: absolute;
        margin-top: 1.6rem;
        margin-left: 5rem;
      }
    }
  }

  .btn {
    width: 50%;
    position: absolute;
    border-radius: 4px;
    top: 38rem;
    right: 11rem;
  }
}
