.overlay{
      width: 100vw;
      height: 100vh;
      background-color: rgba(#0000, 0.7);
      z-index: 99999;
      position: fixed;
      top: 0;
      display: none;

      .discount{
            width: 15rem;
            text-align: center;
      }
      
       .discount-price{
            gap: 1rem;
       }

      .info-game{
            width: 82vw;
            height: 93vh;
            background-color:#263241;
            margin:  auto;
            margin-top: 2%;
            border-radius: 10px;
            .container{
                  width: 100%;
                  padding:  5.5rem;
                  margin:  auto;

                  .product-title{
                        justify-content: space-between;
                        align-items:flex-start;
                        color: #fff;
                        h2{
                              font-size: 4rem;
                              float: left;
                              padding-right: 15rem;
                        }

                        span{
                              display: flex;
                              gap: 1rem;
                              float: right;
                              margin-top: 2rem;
                              margin-left: 10rem;
                        }


                        .close{
                              font-size: 4rem;
                              float: right;
                              cursor: pointer;
                              display: flex;
                              margin-top: -1.3rem;
                        }
                  }


                  .product-images{
                        display: block;
                        grid-template-columns: 60% 25%;
                        .main-image{
                              width: 78rem;
                              height: 20.2rem;
                              padding-right: 2rem;
                              margin-top: 2rem;

                              img{  
                                    object-fit: cover;
                                    width: 100%;
                                    height: 160%;
                                    border-radius: 10px;
                              }
                        }
                        
                        .image-list {
                              display: flex;
                              flex-direction: column;
                              justify-content: space-between;
                              align-items: center;
                              gap: 2rem;
                              margin-top: -15rem;

                              img{
                                    object-fit: cover;
                                    width: 100%;
                                    border-radius: 6px;
                                    width: 16rem;
                                    margin-left: 65rem;
                              }
                        }

                  }

                  .modal-info{
                        width: 45%;
                        height: 17.2rem;
                        display: inline-block;
                        position: absolute;
                        margin-top: 2rem;

                        h4, a{
                              font-size: 2rem;
                        }

                        .platforms{
                              
                              img{
                                    margin-left: -10rem;
                                    width: 3rem;
                                    position: absolute;
                                    margin-bottom: 2rem;
                                    
                                    
                              }
                        }

                        .price{
                              width: 100%;
                              text-align: center;
                              display: flex;
                              justify-content: center;
                              margin-right: 25%;
                        }

                         .btn-product{
                              width: 73%;
                              position:absolute;
                              border-radius: 4px;
                              margin-top: 12rem;
                              justify-content: center;

                        }

                        a{
                              font-size:20px;
                        }
                  }

                  .analise{
                        position: absolute;
                        margin-top: 8rem;
                        margin-left: 60rem;
                        color: white;

                        .idade{
                         background-color: #0095DA;
                         border-radius: 0.6rem;
                         padding: 1rem;
                         color: #FFFFfF;
                         font-weight: bolder;
                         margin-left: 0.5rem;
                         font-size: 3rem;
                        }

                        .classificativos{
                              font-weight: lighter;
                              font-size: small;
                              color: #C6D4DF;
                        }
                  }

            }
      }
}

.modalPerfil{
      width: 350px;
      height: 350px;
      background-color:#263241;
      margin: 0 auto;
      margin-top: 15%;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      z-index: 999;
      

      .closeSac{
            
            font-size: 28px;
            float: right;
            margin-top: -20rem;
            position: absolute;
            cursor: pointer;
            margin-left: 30rem;
            text-decoration: none;
            color: white;
            
      }

      form{
            float: left;
            width: 350px;
            margin-top: 8rem;
            justify-items: center;

            label{
                  color: white;
                  font-size: 20px;
                  margin-left: 2rem;
                  margin-bottom: 2rem;
            }


            input[type=email], input[type=password]{
                  justify-items: center;
                 border-radius: 8px;
                 width: 280px;
                 height: 3rem;
                 padding-left: 1rem;
                 margin-left: 2rem;
            }

            .btn {
                  max-width: 30%;
                  padding: 1rem;
                  margin-top: 2rem;
                  margin-left: 35%;
            }
      }
}

.modalSacola{
      width: 450px;
      height: 450px;
      background-color:#263241;
      margin: 0 auto;
      top: 13%;
      left: 60%;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      z-index: 999;
      

      .closeSac{
            font-size: 28px;
            float: right;
            position: absolute;
            cursor: pointer;
            top: 4px;
            left: 41rem;
            text-decoration: none;
            color: white;
            
      }

      .header-title{
            float: left;
            width: 100%;
            margin-top: 4rem;
            justify-items: center;


            h1{
                  color: white;
                  font-size: 4rem;
                  text-align: center;
                  border-bottom: 1px solid white;
            }
      }

      .lista-game{
            width: 30rem;
            max-width: 100%;
            top: 13rem;
            position: absolute;

            .lista-game-sacola{
                  justify-items: flex-start;
                  padding: 0 5%;

                  .img-list-sacola img{
                        width: 6rem;
                        max-width: 50%;
                        border-radius: 2rem;
                        display: inline-block;
                        position: absolute;

                  }

                  li h4{

                        color: white;
                        font-size: 1.7rem;
                        text-align: center;
                        padding-left: 8.5rem;
                        padding-top: 2rem;
                        float: left;
                        
                  }

                  li span{
                        color: white;
                        font-size: 2rem;
                        text-align: center;
                        float: right;
                        position: absolute;
                        margin-top: 1.6rem;
                        margin-left: 5rem;
                         
                  }
            }
      }


      .btn{
            width: 50%;
           position: absolute;
            border-radius: 4px;
            top: 38rem;
            right: 11rem;
      }
}