.overlay{
      width: 100vw;
      height: 100vh;
      background-color: rgba(#0000, 0.7);
      z-index: 99999;
      position: fixed;
      top: 0;
      display: none;

      .discount{
            width: 11rem;
            text-align: center;
      }
      
     
      .info-game{
            width: 82vw;
            height: 93vh;
            background-color:#263241;
            margin: 0 auto;
            margin-top: 2%;
            border-radius: 10px;
            .container{
                  width: 100%;
                  max-width:120.5rem;
                  padding: 0 5.5rem;
                  margin: 0 auto;

                  .product-title{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        color: #fff;
                        margin-bottom: 2.6rem;

                        h2{
                              font-size: 4rem;
                              margin-top: 2rem;
                        }

                        span{
                              display: flex;
                              flex-direction: row;
                              justify-content: space-between;
                              align-items: center;
                              gap: 1rem;
                              margin-top: 2rem;
                        }

                        .close{
                              font-size: 35px;
                              float: right;
                              position: absolute;
                              margin-left: 109rem;
                              margin-top: -38px;
                              cursor: pointer;
                        }
                  }


                  .product-images{
                        display: grid;
                        grid-template-columns: 70% 19%;
                        .main-image{
                              width: 100%;
                              height: 32.2rem;
                              padding-right: 2rem;
                              display: inline-block;

                              img{  
                                    object-fit: cover;
                                    width: 100%;
                                    height: 120%;
                                    border-radius: 10px;
                              }
                        }
                        
                        .image-list {
                              display: flex;
                              flex-direction: column;
                              justify-content: space-between;
                              align-items: center;
                              gap: 2rem;

                              img{
                                    object-fit: cover;
                                    width: 100%;
                                    border-radius: 6px;
                              }
                        }

                  }

                  .modal-info{
                        width: 45%;
                        height: 17.2rem;
                        display: inline-block;
                        position: absolute;
                        margin-top: 2rem;

                        h4, a{
                              font-size: 2rem;
                        }

                        .platforms{
                              float: right;
                              margin-top: -43px;
                              
                              img{
                                    margin-right: 38rem;
                                    width: 30px;
                              }
                        }

                        .price{
                              width: 40rem;
                              text-align: center;
                              margin-right: 11rem;
                        }

                         .btn-product{
                              width: 80%;
                              position:absolute;
                              display: inline-block;
                              border-radius: 4px;
                              margin-top: 12rem;

                        }

                        a{
                              font-size:20px;
                        }
                  }

                  .analise{
                        position: absolute;
                        margin-top: 8rem;
                        margin-left: 60rem;
                        color: white;

                        .idade{
                         background-color: #0095DA;
                         border-radius: 0.6rem;
                         padding: 1rem;
                         color: #FFFFfF;
                         font-weight: bolder;
                         margin-left: 0.5rem;
                         font-size: 3rem;
                        }

                        .classificativos{
                              font-weight: lighter;
                              font-size: small;
                              color: #C6D4DF;
                        }
                  }

            }
      }
}

.modalPerfil{
      width: 350px;
      height: 350px;
      background-color:#263241;
      margin: 0 auto;
      margin-top: 15%;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      z-index: 999;
      

      .closeSac{
            
            font-size: 28px;
            float: right;
            margin-top: -20rem;
            position: absolute;
            cursor: pointer;
            margin-left: 30rem;
            text-decoration: none;
            color: white;
            
      }

      form{
            float: left;
            width: 350px;
            margin-top: 8rem;
            justify-items: center;

            label{
                  color: white;
                  font-size: 20px;
                  margin-left: 2rem;
                  margin-bottom: 2rem;
            }


            input[type=email], input[type=password]{
                  justify-items: center;
                 border-radius: 8px;
                 width: 280px;
                 height: 3rem;
                 padding-left: 1rem;
                 margin-left: 2rem;
            }

            .btn {
                  max-width: 30%;
                  padding: 1rem;
                  margin-top: 2rem;
                  margin-left: 35%;
            }
      }
}

.modalSacola{
      width: 30vw;
      height: 65vh;
      background-color:#263241;
      margin: 96rem;
      margin-top: 5%;
      border-radius: 10px;
      position: absolute;
      max-width: 1100px;
      

      .closeSac{
            max-width: 10%;
            font-size: 28px;
            color: white;
            cursor: pointer;
            position: absolute;
           margin-left: 38rem;
           top: -0.8rem;
            
      }

      .header-title{
            width: 300px;
            display: flex;
            h1{
                  color: white;
                  font-size: 4rem;
                  max-width: 100%;
                  margin-left: 12rem;
                  top: 8rem;
            }
      }

      .table-game{
            margin: 0 auto;
            width: 500px;
            justify-self: center;

            #customers {
                  font-family: Arial, Helvetica, sans-serif;
                  border-collapse: collapse;
                  max-width:100%;
                  width: 40rem;
                  position: absolute;
                  right: 1.5rem;
                  top:8rem;
            
            
                  td, th {
                        border: 1px solid #ddd;
                        padding: 8px;
                        color: white;
                        text-align: center;
                  }
                  
                  
                        th {
                        padding-top: 12px;
                        padding-bottom: 12px;
                        text-align: left;
                        background-color: #252c29;
                        color: white;
                        text-align: center;
                  }
            }
      }

      .btn{
            width: 60%;
            position:absolute;
            border-radius: 4px;
            margin-top: 20rem;
            right: 8rem;
      }
}