$main-color: #fff;

// Colors
$brand-blue: #0aaefe;
$brand-dark-blue: #03649c;
$brand-very-dark-blue: #151d27;
$brand-red: #ff3433;
$brand-green: #7cc42e;
$brand-white: #fff;
$background: #151d27;

// Gray Colors
$gray-100: #efefef;
